<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error !!!</title>
	<style>
		body{
			background-color: white;
		}
	</style>
</head>
<body>
	<div class="container text-center mt-2">
		<h2 style="font-family: consolas;">Forbidden,&nbsp;Vault&nbsp;713</h2>
		<img src="../public/img/403.png" alt="Forbidden">
		<!--
			«Entra, desconocido, pero ten cuidado
			Con lo que le espera al pecado de la codicia,
			Porque aquellos que cogen, pero no se lo han ganado,
			Deberán pagar en cambio mucho más,
			Así que si buscas por debajo de nuestro suelo
			Un tesoro que nunca fue tuyo,
			Ladrón, te hemos advertido, ten cuidado
			De encontrar aquí algo más que un tesoro.»
		-->
	</div>
</body>
</html>