<div class="container p-4">
	<div class="row">
		<div class="col-md-8 mb-2">
			<div class="card mt-1">
				<div class="card-header bg-dark text-white">
					<h3><i class="far fa-images"></i> Ultimas imagenes</h3>
				</div>
				<div class="card-body">
					<div class="row">
						{{#each images}}
							<div class="col-md-4 mt-2">
								<a href="/images/{{uniqueID}}">
									<img src="/public/upload/{{filename}}" alt="{{name}}" title="{{description}}" class="w-100 h-100 img-thumbnail">
								</a>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{!-- sidebar --}}
		<div class="col-xs-12 col-md-4 mt-1">
			{{> stats }}
			{{> populars }}
			{{> comments }}
		</div>
	</div>
</div>

<script>
	$(".custom-file-input").on("change", function() {
	 	var fileName = $(this).val().split("\\").pop();
	 	$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
</script>